{
  "printWidth": 100,
  "semi": false,
  "trailingComma": "all",
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "proseWrap": "preserve",
  "tabWidth": 2,
  "useTabs": false
}
